body {

    margin: 0;
    padding: 0;

    background: #f0f2f5;

    font-family: Arial, sans-serif;

}

.container {

    width: 90%;
    max-width: 1000px;

    margin: 30px auto;

    background: white;

    padding: 25px;

    border-radius: 10px;

    box-shadow: 0 0 10px rgba(0,0,0,0.1);

}

.hidden {

    display: none;

}

button {

    padding: 12px 20px;

    border: none;

    cursor: pointer;

    border-radius: 5px;

    background: #007bff;

    color: white;

    font-size: 15px;

}

button:hover {

    background: #0056b3;

}

.quiz-grid {

    display: grid;

    grid-template-columns:
        repeat(auto-fit, minmax(180px, 1fr));

    gap: 15px;

    margin-bottom: 30px;

}

.quiz-grid button {

    padding: 15px;

}

.question {

    border: 1px solid #ddd;

    padding: 15px;

    border-radius: 8px;

    margin-bottom: 20px;

}

.option {

    display: block;

    margin: 10px 0;

}

.topbar {

    display: flex;

    justify-content: space-between;

    align-items: center;

    gap: 20px;

}

.timer-box {

    font-size: 22px;

    font-weight: bold;

    color: red;

}

#timer {

    font-size: 26px;

}

.button-group {

    display: flex;

    gap: 15px;

    margin-top: 20px;

}

#result {

    margin-top: 20px;

    font-size: 22px;

    font-weight: bold;

}

@media(max-width: 600px) {

    .topbar {

        flex-direction: column;

        align-items: flex-start;

    }

}
